body {
    margin: 0px;
    padding: 0px;
}


#mainpng {
position: relative;
min-width: 800px;
min-height: 500px;
width: 100%;
height: 450px;
}

#ahhhhhhh {
position: relative;
transform: translate(0%, -0.25%);
top: 0%;
min-width: 800px;
width: 100%;
height: 270%;
}

#bkcover1 {
position: relative;
background: linear-gradient(#16829a97,#c76e0093,#b19cd3);
text-align: center;
justify-content: center;
align-items: center;
padding: 0;
margin: 0;
}

#aboutPagepng {
position: fixed;
top: 0;
width: 100%;
height: 100%;
}

#MysticalLawnsOfficialLogo {
    position: absolute;
    top: 45px;
    left: 20px;
    width: 120px;
    height: 120px;
    background-image: url(png/IMG_5960.png);
    border-radius: 5px;
    background-size: cover;
}

#name {
position: absolute;
color: white;
top: 45px;
left: 60px;
font-family: sans-serif;
font-size: 43px;
}

#menu {
position: absolute;
background-color: rgba(0, 0, 0, 0.695);
color: white;
width: 40%;
height: 50px;
top: 45px;
right: 10px;
}

#about,
#ScheduleEstimate,
#ContactUs,
#login,
#creditInformation {
position: absolute;
left: 14%;
transform: translate(-50%, 75%);
}

#ScheduleEstimate {
left: 37%;
}

#ContactUs {
left: 61%;
}

#login {
left: 81.5%;
display: inline;
}

#creditInformation {
left: 81.5%;
display: none;
}

/*#logo {
position: absolute;
width: 150px;
height: 160px;
transform: translate(-50%, -50%);
top: 25%;
left: 50%;
}*/

#MysticalLawns {
position: absolute;
color: rgb(10, 4, 40);
width: 800px;
height: 160px;
transform: translate(-50%, -50%);
top: 220px;
left: 50%;
text-align: center;
font-size: 150px;
}

#welcome {
position: relative;
background-color: #2b4353;
width: 100%;
height: 160px;
}

#whatIDo {
position: relative;
width: 100%;
height: 600px;
padding-top: 90px;
padding-bottom: 90px;
}

#png1 {
position: absolute;
transform: translate(-50%, 0);
left: 50%;
width: 45%;
height: 600px;
border-radius: 20%;
}

#mowingLawns {
position: absolute;
color: rgb(0, 55, 0);
top: 200px;
transform: translate(-50%, 0);
left: 50%;
font-family: system-ui;
font-size: 42px;
}

#description1 {
position: absolute;
background-color: #2b43535f;
color: rgb(255, 255, 255);
width: 280px;
height: 90px;
top: 300px;
transform: translate(-50%, 0);
left: 50%;
font-family: system-ui;
font-size: 24px;
}

#PressureWashing {
    position: relative;
    width: 100%;
    height: 600px;
    padding-top: 90px;
}

#videoOneMowing {
    position: relative;
    width: 100%;
    height: 600px;
    padding-top: 90px;
}

#png2 {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    width: 45%;
    height: 600px;
    border-radius: 20%;
}

#PressureWashingHeadLine {
    position: absolute;
    color: rgb(0, 157, 255);
    top: 200px;
    transform: translate(-50%, 0%);
    left: 50%;
    font-family: system-ui;
    font-size: 42px;
}

#description2 {
    position: absolute;
    background-color: #2b43535f;
    color: rgb(255, 255, 255);
    width: 280px;
    height: 90px;
    top: 300px;
    transform: translate(-50%, 0%);
    left: 50%;
    font-family: system-ui;
    font-size: 24px;
}

#plants {
    position: relative;
    width: 100%;
    height: 600px;
    padding-top: 90px;
    padding-bottom: 70px;
}

#png3 {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    width: 45%;
    height: 600px;
    border-radius: 20%;
}

#plantsHeadLine {
    position: relative;
    color: rgba(252, 16, 244, 0.816);
    transform: translate(-50%, 0%);
    left: 50%;
    font-family: system-ui;
    font-size: 42px;
    margin-top: 0px;
    margin-bottom: 25px;
    padding-top: 20px;
}

#description3 {
    position: relative;
    background-color: #2b43535f;
    color: rgb(255, 255, 255);
    width: 280px;
    transform: translate(-50%, 0%);
    left: 50%;
    font-family: system-ui;
    font-size: 24px;
    margin-top: 0px;
}

#src {
    position: relative;
    transform: translate(0%, -1.5%);
    min-width: 800px;
    width: 100%;
    height: 500px;
    background-color: #2b4353;
}

#credits {
    position: absolute;
    top: 60%;
    left: 80px;
    color: silver;
}

#followUs {
    position: absolute;
    top: 50%;
    right: 160px;
    color:white;
}


#aboutPage {
    position: relative;
    top: 25%;
    left: 0px;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.233);
    display: none;
}

#aboutPageTitle {
    background-color: rgb(61, 61, 61);
    color:white;
    text-align: center;
}

#aboutPageDescription {
    position: relative;
    width: 92%;
    height: 230%;
    transform: translate(-50%, 0%);
    top: 35%;
    left: 50%;
    background-color: black;
}

#close {
    position: relative;
    right: 0px;
    background-color: plum;
    width: 40px;
    height: 20px;
}

#signUpPage {
position: absolute;
width: 100%; height: 100%;
min-width: fit-content;
background: linear-gradient(#4a860046,#c76d0043,#b19cd37e); 
display: none;
}

#loginPage {
position: absolute;
width: 100%; height: 100%;
min-width: fit-content;
background: linear-gradient(#4a860046,#c76d0043,#b19cd37e); 
display: none;
}

#contactUsPage {
position: absolute;
min-width: 200px;
min-height: 400px;
width: 1920px;
height: 900px;
background-image: url(png/5525.jpg);
background-size: cover;
display: none;
}

#creditInformationPageImage {
position: absolute;
min-width: 200px;
min-height: 400px;
width: 100%;
height: 100%;
background-image: url(png/satisfying-icegif-1.gif);
background-size: cover;
}

#signUpPageTitle {
text-align: center;
font-family: system-ui;
font-size: 120px;
margin: 0px;
padding: 0px;
border: 0px;
}

#loginPageTitle {
text-align: center;
font-family: system-ui;
font-size: 120px;
margin: 0px;
padding: 0px;
border: 0px;
}

#SEPage {
    width: 100%; height: 1007px; position: absolute; background-color: rgba(0, 255, 8, 0.65); display: none;
}

#SEPageMowing {
    width: 900px; height: 600px; position: absolute; background-color: rgb(2, 190, 2);
}

#phoneMenu {
    color: rgb(255, 0, 0);
}

#PurchaseConfirmation {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30%;
	height: 30%;
	transform: translate(-50%, -50%);
	background-color: rgb(56, 56, 56);
	color:rgb(255, 0, 102);
	font-size: large;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
    display: none;
}

#noDontPurchase {
	position: absolute;
	top: 60%;
	left: 72%;
	width: 30%;
	height: 20%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 229, 255, 0.717);
    color: white;
}

#yesPurchase {
	position: absolute;
	top: 60%;
	left: 27%;
	width: 30%;
	height: 20%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 0, 0, 0.631);
    color: white;
}

#accountTriangleCoinsShopLeft {
    position: absolute; top: 28%; transform: translate(-150px, -50%);
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 100px solid red;
    transform: rotate(-180deg);
  }

  #accountTriangleCoinsShopRight {
    position: absolute; top: 28%; left: 89%; transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 100px solid red;
    transform: rotate(0deg);
  }

  #item_0AccountCoinsShop,
  #item_1AccountCoinsShop,
  #item_2AccountCoinsShop,
  #item_3AccountCoinsShop,
  #item_4AccountCoinsShop,
  #item_5AccountCoinsShop {
    position: relative; top: 32%; left: 0px; transform: translate(0%, -50%); width: 100%; height: 200px; background-color: #8a8a8a; color: aqua; text-align: center; align-items: center; justify-content: center; font-size: 60px; font-family: Arial, Helvetica, sans-serif; font-style: oblique; display: none;
  }
  

@media all and (max-width: 700px) {

#mainpng {
height: 720px;
}

#whatIDo {
position: relative;
width: 100%;
height: 600px;
padding-top: 90px;
}

#png1 {
position: absolute;
transform: translate(-50%, 0);
left: 50%;
width: 800px;
height: 600px;
border-radius: 20%;
}

#mowingLawns {
position: absolute;
color: rgba(0, 172, 0, 0.888);
top: 190px;
transform: translate(-50%, 0);
left: 50%;
font-family: system-ui;
font-size: 42px;
}

#description1 {
position: absolute;
background-color: #2b43535f;
color: rgb(255, 255, 255);
width: 280px;
height: 90px;
top: 290px;
transform: translate(-50%, 0);
left: 50%;
font-family: system-ui;
font-size: 24px;
}

#mulch {
    position: relative;
    width: 100%;
    height: 600px;
    padding-top: 90px;
}

#png2 {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    width: 800px;
    height: 600px;
    border-radius: 20%;
}

#mulchHeadLine {
    position: absolute;
    color: rgb(110, 64, 0);
    top: 190px;
    transform: translate(-50%, 0%);
    left: 50%;
    font-family: system-ui;
    font-size: 42px;
}

#description2 {
    position: absolute;
    background-color: #2b43535f;
    color: rgb(255, 255, 255);
    width: 280px;
    height: 90px;
    top: 290px;
    transform: translate(-50%, 0%);
    left: 50%;
    font-family: system-ui;
    font-size: 24px;
}

#plants {
    position: relative;
    width: 100%;
    height: 600px;
    padding-top: 90px;
}

#png3 {
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    width: 800px;
    height: 600px;
    border-radius: 20%;
}

#plantsHeadLine {
    position: relative;
    color: rgba(252, 16, 244, 0.816);
    transform: translate(-50%, 0%);
    left: 50%;
    font-family: system-ui;
    font-size: 42px;
    margin-top: 0px;
    margin-bottom: 25px;
    padding-top: 20px;
}

#description3 {
    position: relative;
    background-color: #2b43535f;
    color: rgb(255, 255, 255);
    width: 280px;
    transform: translate(-50%, 0%);
    left: 50%;
    font-family: system-ui;
    font-size: 24px;
    margin-top: 0px;
}

#src {
    position: relative;
    width: 100%;
    height: 500px;
    background: #2b4353;
}

#credits {
    position: absolute;
    top: 60%;
    left: 80px;
    color: silver;
}

#followUs {
    position: absolute;
    top: 50%;
    right: 160px;
    color:white;
}


#aboutPage {
    position: absolute;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.233);
    display: none;
}

#aboutPageTitle {
    background-color: rgb(61, 61, 61);
    color:white;
    text-align: center;
}

#aboutPageDescription {
    position: absolute;
    width: 92%;
    height: 230%;
    transform: translate(-50%, -5%);
    top: 0%;
    left: 50%;
    background-color: black;
}

#close {
    position: absolute;
    right: 0px;
    background-color: plum;
    width: 40px;
    height: 20px;
}

#signUpPage {
    position: absolute;
    width: 100%; height: 100%;
    min-width: fit-content;
    background: linear-gradient(#4a860046,#c76d0043,#b19cd37e); 
    display: none;
    }
    
    #loginPage {
    position: absolute;
    width: 100%; height: 100%;
    min-width: fit-content;
    background: linear-gradient(#4a860046,#c76d0043,#b19cd37e); 
    display: none;
    }



#signUpPageTitle {
    text-align: center;
    font-family: system-ui;
    font-size: 120px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    }
    
    #loginPageTitle {
    text-align: center;
    font-family: system-ui;
    font-size: 120px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    }


#joinUsPageDescriptionInput1 {
    width: fit-content;
}

#phoneMenu {
    top: 40px;
    left: 500px;
    position: absolute; 
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 43px;
}

#phoneLogin {
    display: inline;
    }
    
#phoneCreditInformation {
    display: none;
}
    

#MysticalLawns {
    left: 400px;
    top: 430px;
}

#SEPageBK{
position: absolute; top: 0px; padding: 0%; min-width: 300px; width: 700px; height: 800px; background-color: #46cd6a00; padding: 0; margin: 0; display: none;
}

#SEPage {
    min-width: 300px; min-height: 300px; width: 700px; height: 600px; position: absolute; top: 0px; background-color: rgba(0, 255, 8, 0); padding: 0; margin: 0; display: none;
}

#SEPageJobs {
    position: absolute;
    top: 0px;
}

#SEPageMowing {
    position: absolute;
    top: 0px;
}

#contactUsPage {
    min-width: 670px;
    width: fit-content;
}


}

#joinUsPageDescriptionInput::placeholder {
color: white;
}







      /* Computer */
      @media (min-width: 901px) {
        #creditInformationPage {
          overflow-y: hidden;
        }
    
        #accountCoinsShop {
            width: 900px; height: 400px;
            top: 0px; left: 0px;
            top: 50%; left: 50%; transform: translate(-50%, -50%);
        }
    
        #accountCreditDescriptionPage {
            position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
            background-color: rgba(255, 255, 255, 0.713); color:rgb(0, 0, 0);
            width: 600px; height: 80%;
            overflow-y: hidden; overflow-y: scroll; overflow-x: hidden; border-radius: 5%; display: none;
        }
      }


    /* phone */
  @media (max-width: 900px) {
    #creditInformationPage {
      overflow-y: scroll;
    }

    #accountCoinsShop {
        width: 890px; height: 200px;
        top: 0px; left: 0px;
        top: 8%; left: 0%; transform: translate(0%, 0%);
    }

    #accountCreditDescriptionPage {
        position: absolute; top: 15%; left: 150px; transform: translate(0%, 0%);
        background-color: rgba(255, 255, 255, 0.713); color:rgb(0, 0, 0);
        width: 600px; height: 80%;
        overflow-y: hidden; overflow-y: scroll; overflow-x: hidden; border-radius: 5%; display: none;
    }
  }
